/*Fonts*/
$base-font-size: 18px;
$font-primary: 'Effra Light', Helvetica, Arial, Roboto, sans-serif;
$font-primary-fallback: Helvetica, Arial, Roboto, sans-serif;
$font-secondary: 'Effra Medium', Helvetica, Arial, Roboto, sans-serif;
$font-secondary-fallback: Helvetica, Arial, Roboto, sans-serif;
$font-contrast: 'Tiempos Semibold', Georgia, serif;
$font-contrast-fallback: Georgia, serif;

/*Font sizes*/
$f-masthead-sm: 40px;
$f-masthead-md: 60px;
$f-masthead-lg: 90px;

/*Colours*/
$c-copy: #777777;
$c-brand: #17beec; /*Light blue*/
$c-bold: #005ea0; /*Dark blue*/
$c-shaded: #F8FEFF; /*Lightest blue*/
$c-stage: #F0FAFB; /*Light blue*/