<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">

    <link rel="stylesheet" href="{{ path '/css/main.css' }}">

    <style>
        body {
            padding: 20px;
        }
        .collated-item {
            margin-bottom: 10px;
        }
    </style>

    <title>{{ _target.title }} | {{ _config.project.title }}</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
