<section class="Splash">
    <div class="Splash-content">
        <h1 class="Splash-header">Leading Design</h1>
        <div class="Splash-sub">Learning from a community of design leaders</div>
        <div class="Splash-info">24 - 26 October 2016, London</div>
        {{render '@button' button}}
    </div>
</section>
